# Python virtual environments
.venv/

# Python cache files
__pycache__/
*.pyc

# Environment files
.env
.env.*

# Terraform local files
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
plan.txt

# VS Code local settings
.vscode/